*.iws
.gradle/
build
out
bin
.idea
*.iml
*.ipr
draft.story
chromedriver.log
.classpath
.gitignore.swp
.project
.settings/
gradle.properties
msino-web.properties
*.log
*.log.*
src/main/webapp/WEB-INF/lib
src/main/webapp/WEB-INF/classes
